{% extends 'customer/base.html' %}

{% block content %}
<div class=" container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm12 offset-md-1 p-4 text-center">
            <p>Your One-Stop Shop for Delicious Deliveries

                In today's fast-paced world, convenience is king. That's why we created [Food Delivery App Name], your one-stop shop for delicious deliveries. With our app, you can order food from your favorite restaurants and have it delivered right to your doorstep.</p>
                <P>Why Choose [Food Delivery App Name]?

                    Wide Selection of Restaurants: We have a wide selection of restaurants to choose from, so you're sure to find something you'll love. Whether you're craving pizza, pasta, sushi, or something else entirely, we have you covered.
                    Fast and Easy Ordering: Our app is designed to be easy to use. Simply browse our selection of restaurants, add your favorite dishes to your cart, and checkout. We'll take care of the rest.
                    Real-Time Tracking: You can track your order in real time so you know exactly when to expect your delicious meal.
                    Secure Payment Processing: We use the latest security technology to protect your payments.
                    Customer Satisfaction Guarantee: We're committed to providing our customers with the best possible experience. If you're not satisfied with your order, we'll make it right.</P>
                <p>How to Use [Food Delivery App Name]

                    Getting started with [Food Delivery App Name] is easy. Simply download our app from the App Store or Google Play. Then, create an account and enter your delivery address. Once you're done, you can start browsing our selection of restaurants.</p>
                <p>[Food Delivery App Name] - Making Life Easier

                    [Food Delivery App Name] is more than just a food delivery app. It's a way to make your life easier. We want to help you save time, eat delicious food, and enjoy the convenience of having your meal delivered right to your door.
                    
                    So what are you waiting for? Download [Food Delivery App Name] today and start enjoying your favorite food from the comfort of your own home!
                    
                    Contact Us
                    
                    If you have any questions, please feel free to contact us at [email protected]</p>
        </div>
    </div>
</div>
{% endblock content %}